@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            @if (_authenticated)
            {
                <a href="login">Odjavi se</a>
            }
            else
            {
                <a href="login">Prijava</a>
            }
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code{
    private System.Security.Claims.ClaimsPrincipal _user;
    private bool _authenticated;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        _user = state.User;
        _authenticated = _user?.Identity?.IsAuthenticated ?? false;
        StateHasChanged();
    }
}