@page "/counter"

<h1 id="page-title">Counters</h1>

<h2>Counter 1</h2>

<p id="result-1">Current count: @currentCount1</p>

<button id="prvi-button" class="btn btn-primary" @onclick="IncrementCount1">Click me</button>

<h2>Counter 2</h2>

<p id="result-2" data-value=@currentCount2>Current count: @currentCount2</p>

<button id="drugi-button" class="btn btn-primary" @onclick="IncrementCount2">Click me</button>

<h2>Counter 3</h2>

<p id="result-3">Current count: @currentCount3</p>

<button id="treci-button" class="btn btn-primary" @onclick="IncrementCount3">Click me</button>

@code {
    private int currentCount1 = 0;
    private int currentCount2 = 0;
    private int currentCount3 = 0;

    private async Task IncrementCount1()
    {
        await Task.Delay(TimeSpan.FromSeconds(10));
        currentCount1++;
    }
    private void IncrementCount2() => currentCount2++;
    private void IncrementCount3() => currentCount3++;
}
